<% if @error == nil %>
<%= link_to 'Go back to all profiles', profiles_path, class: "btn btn-primary" %>
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3> Edit your profile : </h3>
        <%= simple_form_for [@profile] do |f| %>
          <%= f.input :first_name, placeholder: '@profile.id.first_name' %>
          <%= f.input :last_name, placeholder: '@profile.id.last_name' %>
          <%= f.input :birth_date, placeholder: '@profile.id.birth_date' %>
          <%= f.input :location, label: 'Location (city)', placeholder: '@profile.id.location' %>
          <%= f.input :bio, placeholder: '@profile.id.bio' %>
          <%= f.input :interests, placeholder: '@profile.id.interests' %>
          <%= f.input :picture, label: 'Picture url', placeholder: '@profile.id.picture' %>
          <br>
          <%= f.submit class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% else %>
<h2>Error : Unauthorize access</h2>
<% end %>
