<div class="container text-center p-3">
  <h1> <%= @profile.first_name %>'s bookings</h1>
  <% if @bookings.length > 0 %>
  <div class ="container d-flex justify-content-center m-3">
    <% @bookings.each do |booking| %>
    <div class="card m-3" style="width: 18rem;">
    <div class="booking-image"><%= image_tag("calendar.png") %></div>
      <div class="card-body">
          <h6 class="card-title bookings-card-title">Event</h6>
          <p class="card-text bookings-card-text"> <%= booking.event_name %></p>
          <div class="card-footer">
            <h6 class="card-title bookings-card-title text-center"> Booked on</h6>
            <p class="card-text fw-bolder" style="color: #ff385c;"><%= booking.start_date.day %>
           <span style="color: #000000;"> - </span> <%= booking.end_date.day%> <%= Date::MONTHNAMES[booking.end_date.month] %> <%= booking.end_date.year %>
          </p>
          </div>
      </div>
    </div>
    <% end %>
  </div>
    <% else %>
    <h2>No bookings yet!</h2>
  <% end %>
  <div class="text-center">
    <%= link_to "Go back to profile", profile_path(@profile), class: "btn pink-button"%>
    </div>
  </div>
