<nav>
  <div class="left-section">
    <span id="logo">Buddy Finder</span>
  </div>
  <div class="middle-section">
    <form>
      <input type="text" placeholder="Search all buddies...">
    </form>
  </div>
  <div class="right-section">
    <div class="nav-btns"><%= link_to "Home", root_path %></div>
    <div class="nav-btns d-none d-sm-block"><%= link_to "Explore", profiles_path %></div>
    <% if user_signed_in? %>
      <div class="dropdown">
        <img class="avatar-large avatar-clickable" alt="avatar-large" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dxhrxhiwb/image/upload/v1629889921/dwayne_pcvf1e.jpg"/>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">View bookings</a>
          <%# Make sure to have a user profile ABSOLUTELY! otherwise this will break %>
          <%# SHOULD BE: edit_profile_path(profile.id) %>
          <%= link_to 'Edit profile', edit_profile_path(current_user.id), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </div>
    <% else %>
      <div class="nav-btns d-none d-sm-block"><%= link_to "Sign up", new_user_registration_path %></div>
      <div class="nav-btns"><%= link_to "Log in", new_user_session_path %></div>
    <% end %>
  </div>
</nav>
