<nav>
  <div class="left-section">
    <%= link_to "Buddy Finder", root_path, id: "logo" %>
  </div>
  <div class="middle-section d-flex">
    <div class="search-bar">
      <%= form_tag profiles_path, method: :get do %>
      <%= text_field_tag :query, '',
      class: "form-control",
      placeholder: "Find a buddy..."
      %>
      </div>
      <div class="search-btn">
      <%= submit_tag "Search", class: "btn btn-primary search" %>
      </div>
    <% end %>
  </div>
  <div class="right-section">
    <div class="nav-btns d-none d-sm-block"><%= link_to "Explore", profiles_path %></div>
    <% if user_signed_in? %>
      <div class="dropdown">
        <img class="avatar-large avatar-clickable fit" alt="avatar-large" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dxhrxhiwb/image/upload/v1630073558/elon_vueqxw.jpg"/>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "My bookings", mybookings_path, class: "dropdown-item" %>
          <% if current_user.profile.present? %>
            <%= link_to 'Edit profile', edit_profile_path(current_user.profile), class: "dropdown-item" %>
          <% else %>
            <%= link_to 'Create profile', new_profile_path, class: 'dropdown-item' %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <div class="nav-btns d-none d-sm-block"><%= link_to "Sign up", new_user_registration_path %></div>
      <div class="nav-btns"><%= link_to "Log in", new_user_session_path %></div>
    <% end %>
  </div>
</nav>
